CustomMenuSlider/CustomMenuSlider.Android/bin/
CustomMenuSlider/CustomMenuSlider.Android/obj/
CustomMenuSlider/CustomMenuSlider.iOS/bin/
CustomMenuSlider/CustomMenuSlider.iOS/obj/
CustomMenuSlider/CustomMenuSlider/obj/
CustomMenuSlider/CustomMenuSlider/bin/
